
.dropbtn {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 10px 20px; 
  margin-left: 15px; 
}


.dropbtn:not(:focus) {
  background-color: #04AA6D;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #2980b9;
}


#species_search {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px 20px 10px 45px; 
  border: none;
  border-bottom: 1px solid #ddd;
  position: sticky; 
  top: 0;
  background-color: #f6f6f6;
  z-index: 2;
  margin: 0;
}


#species_search {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px 20px 10px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 300px; 
  margin: 15px auto; 
  display: block; 
  background-color: #f6f6f6;
}


#species_search {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 200px; 
  margin: 0; 
  background-color: #f6f6f6;
  display: block; 
}

#species_search {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 200px;
  margin: 0;
  background-color: #f6f6f6;
  display: block;
}


#species_search:focus {
  outline: 3px solid #ddd;
}


.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}


.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #ffffff;
  width: 200px;
  border: 1px solid #ddd;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
}


.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}


.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.show {
  display: block;
}


@media screen and (max-width: 768px) {
  #species_search {
      width: 100%;
  }

  .dropdown-content {
      width: 100%;
  }
}